html {
    background: #b195b7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: #f3e5c7;
    margin: 20px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: #f3e5c7;
    margin: 20px;
}

.buttons {
    margin: 10px;
}

.buttons input {
    width: 160px;
    height: 55px;
    font-size: 25px;
    font-weight: bold;
    color: #f4f5d9;
    background-color: #97bb9e;
    padding: 5px;
    border-radius: 8px;
    border-color: #647d69;
    margin: 10px;
}

.scores {
    display: flex;
    gap: 10px;
}

#plabel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #f3e5c7;
    margin: 5px;
}

#clabel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #f3e5c7;
    margin: 5px;
}

#pscore {
    font-size: 25px;
    color: #f3e5c7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;

}

#cscore {
    font-size: 25px;
    color: #f3e5c7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
}

#print {
    margin: 20px;
    font-size: 25px;
    color: #f3e5c7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}